.pos-dashboard-grid {
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-gap: 5px;
  grid-template-areas:
    ". . . ."
    ". . . ."
    ". . . ."
    ". . . ."
    ". . . .";
}

.pos-dashboard-grid-btn-lg {
  width: 200px;
  height: 100px;
  font-size: 25px;
  font-weight: bold;
  text-align: center;
  line-height: 85px;
}